h1 City (#{@city.name}, #{@country.name})

= link_to('Edit', edit_admin_country_city_path(@country, @city))
| &nbsp;|&nbsp;
= link_to('Locations', admin_country_city_sight_seeings_path(@country, @city))
