h1 #{@country.name}

div.map
  div.map__canvas {
                    data-lat="#{@country.latitude}"
                    data-lng="#{@country.longitude}"
                    data-zoom="#{@country.default_zoom_level}"
                  }
