.fullscreen-image__text_secondary {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  @media (max-width: $breakpoint_sm) {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
  }
}
