.fullscreen-image {
  position: relative;
  top: -55px;
  margin-bottom: -55px;
  height: 1000px;
  display: block;
  overflow: hidden;
  text-align: center;
  background-image: image-url('pattern_symphony.png');
}
