.fullscreen-image {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
