.fullscreen-image__text_primary {
  display: inline-block;
  font-family:'Anton', sans-serif;
  font-size: 80px;

  @media (max-width: $breakpoint_sm) {
    font-size: 34px;
  }

  .fullscreen-image__for-travelers-at,
  .fullscreen-image__heart {
    font-size: 80px;
  }
}
