h1 #{@city.name}, #{@city.country.name}

div.map
  div.map__canvas {
                    data-lat="#{@city.latitude}"
                    data-lng="#{@city.longitude}"
                    data-zoom="#{@city.default_zoom_level}"
                  }
