$color_black: #000000;
$color_white: #FFFFFF;

$color_dark_gray:   #212121;
$color_medium_gray: #727272;
$color_light_gray:  #B6B6B6;
$color_pale_gray:   #F7FAFA;

$color_pink_light:  #F273B1;
$color_pink_medium: #ED4596;
$color_pink_dark:   #C1387B;

$color_cyan_light:  #9BDADF;
$color_cyan_medium: #7ACED4;
$color_cyan_dark:   #63A7AC;
