h1 #{@sight_seeing.name}

/ Move this into helper
- sight_seeing_map_data_path = sight_seeing_path(country_slug: params[:country_slug], city_slug: params[:city_slug], sight_seeing_slug: params[:sight_seeing_slug])

div.map
  div.map__canvas data-path="#{sight_seeing_map_data_path}" data-lat="-34.397" data-lng="150.644" data-zoom="6"
