.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-top: 3px solid $color_pink_medium;
  border-bottom: 1px solid #ececec;
  background-color: $color_white;
  z-index: 1;
}
