.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid $color_pink_medium;
  border-bottom: 1px solid #ececec;
  background-color: $color_white;
  z-index: 999;

  .navbar-collapse.collapse {
    a {
      color: $color_medium_gray;
    }
  }

  .logo__image_light {
    display: none;
  }

  .logo__image_dark {
    display: block;
  }

  .icon-bar {
    background-color: $color_medium_gray;
  }
}
