javascript:
  (function () {
    var e = {
      name: "#{name}",
      parameters: JSON.parse("#{escape_javascript parameters.to_json.html_safe}")
    };

    mixpanel.track(e.name, e.parameters);
  }());
